<nav>
    <img src="./../../assets/logo/shiva16x9.png" alt="">

    <h2>SHIVA DATTATRAY SHEDGE </h2>
    <p> Angular Developer</p>
    <p>Civil Engineer</p>
    <p>Freelancer</p>

    <ul>

        <li>
            <a routerLink='/' routerLinkActive="router-link-active" >Home</a>
        </li>
        <li>
            <a routerLink='/' routerLinkActive="router-link-active">About</a>
        </li>
        <li>
            <a routerLink='/' routerLinkActive="router-link-active">projects</a>
        </li>
        <li>
            <a routerLink='/' routerLinkActive="router-link-active">Contact-us</a>
        </li>

    </ul>

</nav>
