.todo {
	display: flex;
	padding: 10px 15px;
	background-color: #EEE;
	border-bottom: 1px solid #DDD;
	border-radius: 20px 10px ;
	margin: 10px;
	box-shadow: 5px 10px 15px grey;
}

.todo:nth-child(even) {
	background-color: #fe487f96;
}

.todo:last-of-type {
	border-bottom: 0;
}

.todo .id {
	flex: 1 1 50px;

}

.todo .content {
	flex: 1 1 100%;
	color: #6a2238;
	
}

.todo.done .content {
	text-decoration: line-through;
}

.todo-input {
	display: block;
	width: 100%;
	padding: 10px 15px;
	appearance: none;
	border: none;
	border-radius: 50px 20px ;
	background-color: #fe487f96;
	box-shadow: 5px 10px 15px grey;
	
	font-size: 25px;
	outline: none;
	text-align: center;
	color: #6a2238;
}

.todo-submit, 
.delete{
	
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	border-radius: 0 20px ;
	border: 1px solid pink;
	
	/* background-image: linear-gradient(#373737, #ff004c,#760000); */
	background-image: linear-gradient( #e4a0b6,#fb1358,#6a2238);

	color: #FFF;
	padding: 10px 15px;
	font-weight: 700;
	display: block;
	font-size: 18px;
	
}


.todo-submit{
	margin: 15px auto;
	
}

.todo-submit:hover, 
.delete:hover {
	background-image: linear-gradient(#fe487f94,white,#fe487f94);
	color: #FE4880;
	box-shadow: 5px 10px 15px black;
}

